QWidget{
    background-color: #2E2E2E;
    color: #FFFFFF;
    border-radius: 5px;
}

QPushButton{
    background-color: #5E5E5E;
    color: #FFFFFF;
}

QPushButton:pressed {
    background-color: #767676;
    color: #FFFFFF;
}

QTableWidget{
    background-color: #434343;
    color: #8f8f8f;
}

QHeaderView::section{
    background-color: #3e3e3e;
    border: solid;
}

QTableView QTableCornerButton::section {
    background-color: #3e3e3e;
    border: solid;
}

QHeaderView::section:checked{
    background-color: #BDBDBD;
}

QScrollBar{
    margin: 2px 20px 2px 20px;
    border: 1px solid grey;
    background: #5E5E5E;
    border-radius: 2px;
    height: 15px;
}

QScrollBar::handle{
    background: #5E5E5E;
} 

QScrollBar::add-line:horizontal {
    border: solid;
    border-radius: 2px;
    background: #5E5E5E;
    width: 15px;

    image: url(ver1_3/assets/right-light-arrow-50.png);

    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: solid;
    border-radius: 2px;
    background: #5E5E5E;
    width: 15px;

    image: url(ver1_3/assets/left-light-arrow-50.png);

    subcontrol-position: left;
    subcontrol-origin: margin;
}