QWidget{
    background-color: #2E2E2E;
    color: #FFFFFF;
    border-radius: 5px;
}

QPushButton{
    background-color: #ff0000;
    color: #FFFFFF;
}

QPushButton:pressed {
    background-color: #767676;
    color: #FFFFFF;
}

QLineEdit{
    background-color: #515151;
}

QTextEdit {
    background-color: #515151;
}
