QFrame{
    border-radius: 2px;   
    border: 2px solid black; 
}

QLabel{
    color: #000000;
}     

QHeaderView::section{
    background-color: #d4d4d4;
    border: solid;
}

QTableView QTableCornerButton::section {
    background-color: #d4d4d4;
    border: solid;
}

QTableView{
    border: 2px solid black;
}

QHeaderView::section:checked{
    background-color: #BDBDBD;
}

QScrollBar{
    margin: 2px 20px 2px 20px;
    border: 1px solid grey;
    border-radius: 2px;
    height: 15px;
}

QScrollBar::handle{
    background: #BDBDBD;
} 

QScrollBar::add-line:horizontal {
    border: solid;
    border-radius: 2px;
    background: #BDBDBD;
    width: 15px;

    image: url(ver1_3/assets/right-dark-arrow-50.png);

    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: solid;
    border-radius: 2px;
    background: #BDBDBD;
    width: 15px;

    image: url(ver1_3/assets/left-dark-arrow-50.png);

    subcontrol-position: left;
    subcontrol-origin: margin;
}